<!doctype html>

<html>
<head>
	<title> USERDES - MI182 - RAVillaflores </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- javascript -->
	<script src="js/jquery-3.4.1.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.bundle.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/bootstrap-grid.css">
	<link rel="stylesheet" href="css/bootstrap-reboot.css">
	<link rel="stylesheet" href="css/bootstrap-theme.css">
	<link rel="stylesheet" href="css/Custom/main.css">


<script>
	$(document).ready(function() {
		

	});
	
</script>

	
</head>

<body>
	<container>
		<header class="navbar sticky navbar-expand navbar-dark flex-column flex-md-row bd-navbar" id="lyNavbar">
			<div class="navbar-nav-scroll">
				<ul class="navbar-nav bd-navbar-nav flex-row">
					<li class="nav-item">
						<a class="nav-link" href="/index.html" id="aHome">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Music Era</a>
						<div class="dropdown-menu">
							<a class="dropdown-item nav-link text-dark" href="/views/1960.html" id="a1960" name="lnk1960">The Beatles and the 1960's Music</a>
							<a class="dropdown-item nav-link text-dark" href="/views/1970.html" id="a1970" name="lnk1970">Disco in the 1970's</a>
							<a class="dropdown-item nav-link text-dark" href="/views/1980.html" id="a1980" name="lnk1980">Rise of Pop and Rock - The 80's</a>
							<a class="dropdown-item nav-link text-dark" href="/views/1990.html" id="a1990" name="lnk1990">Breaking Down in 90's with Rap and Hip-Hop</a>
							<a class="dropdown-item nav-link text-dark" href="/views/2000.html" id="a2000" name="lnk2000">Wave of the New Generation</a>
						</div>
					</li>
				</ul>
			</div>
		</header>
	</container>

	<container>
		<footer id="lyFooter">
			<p class="text-center">All Rights Reserved <container id="cYr"></container>.</p>
		</footer>
	</container>
</body>
</html>
