<!doctype html>

<html>
<head>
	<title> Aurora - RAV </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- javascript -->
	<script src="../js/jquery-3.4.1.min.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/bootstrap.bundle.js"></script>
	<script src="../js/custom.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/bootstrap-grid.css">
	<link rel="stylesheet" href="../css/bootstrap-reboot.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.css">
	<link rel="stylesheet" href="../css/Custom/main.css">

	<script>
		$(document).ready(function () {
			if (document.location.href.indexOf("layout") < 0) {
				$("#tgtHeader").load("../layout/layout.html #lyNavbar", function () {

				});
				$("#tgtFooter").load("../layout/layout.html #lyFooter", function () {

				});
			}

			$('#aHome').addClass("active");

			$('#crslHeading').carousel({
				interval: 3000
			});

			$('.carousel-item').hover(function () {
				$(this).carousel('pause');
			});

			setFooterDate('#cYr')

			$('.card').hover(function () {
				var id = $(this).attr('id');
				toggleInfo(id);
			});
		});
	</script>


</head>

<container id="tgtHeader">
	<!-- NavBar -->
</container>

<body id="bg-60">
	<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
		<div class="col-md-5 p-lg-5 mx-auto my-5">
		<h1 class="display-4 font-weight-normal">Punny headline</h1>
		<p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
		<a class="btn btn-outline-secondary" href="#">Coming soon</a>
		</div>
		<div class="product-device shadow-sm d-none d-md-block"></div>
		<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
	</div>
	
	<div class="d-md-flex w-100">
		<div class="col-6 bg-dark text-center text-white overflow-hidden">
		<div class="my-3 py-3">
			<h2 class="display-5">Another headline</h2>
			<p class="lead">And an even wittier subheading.</p>
		</div>
		<div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
		</div>
		<div class="col-6 bg-light text-center overflow-hidden">
		<div class="my-3 p-3">
			<h2 class="display-5">Another headline</h2>
			<p class="lead">And an even wittier subheading.</p>
		</div>
		<div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
		</div>
	</div>
	
	<div class="footer">
		<footer id="lyFooter">
			<p class="text-center">All Rights Reserved <container id="cYr"></container>.</p>
		</footer>
	</div>
</body>
</html>