<!doctype html>

<html>
<head>
	<title>ConWorl - Disco in the 1970's </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- javascript -->
	<script src="../js/jquery-3.4.1.min.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/bootstrap.bundle.js"></script>
	<script src="../js/custom.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/bootstrap-grid.css">
	<link rel="stylesheet" href="../css/bootstrap-reboot.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.css">
	<link rel="stylesheet" href="../css/Custom/main.css">

	<script>
		$(document).ready(function () {
			if (document.location.href.indexOf("layout") < 0) {
				$("#tgtHeader").load("../layout/layout.html #lyNavbar", function () {

				});
				$("#tgtFooter").load("../layout/layout.html #lyFooter", function () {

				});
			}

			$('#aHome').addClass("active");

			$('#crslHeading').carousel({
				interval: 3000
			});

			$('.carousel-item').hover(function () {
				$(this).carousel('pause');
			});

			setFooterDate('#cYr')

			$('.card').hover(function () {
				var id = $(this).attr('id');
				toggleInfo(id);
			});
		});
	</script>


</head>

<container id="tgtHeader">
	<!-- NavBar -->
</container>

<body id="bg-70">
	<div class="position-relative overflow-hidden m-md-3 bg-op-blue">
		<div class="p-lg-5 ">
			<h1 class="display-4 font-weight-normal">Disco Fever - The 1970's</h1>
			<p class="lead font-weight-normal">
				There were more variety in music in the 1970s than ever before. 
				Music listeners had dozens of genres to choose from and many of them 
				rose to popularity at different points during the decade. Funk, Soul, 
				R&B, Pop, Hard Rock, Soft Rock and Disco all carved out their place in 
				the music world in the 1970s. The late 70s also witness the birth of another 
				young music style: hip-hop. Some of the best Rock N’ Roll of all time was 
				recorded in the 70s. From David Bowie to Led Zeppelin to Pink Floyd, the list 
				I could make would keep you scrolling for days. The 70s were a golden era for
				vinyl records. They were affordable to everyone and everyone had a record
				player. It seems like almost every song ever made in the 80s had a 70s 
				sample in it. Music equipment had finally given artists more than 4 tracks
				to work with and music became much more experimental than it was technically capable of being in the 60s.
			</p>
			<div class="product-device shadow-sm d-none d-md-block"></div>
			<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
		</div>
	</div>
	

	
	<div class="position-relative overflow-hidden m-md-3 bg-op-blue text-right">
		<div class="p-lg-5 ">
			<h1 class="display-4 font-weight-normal ">Disco and Dance</h1>
			<p class="lead font-weight-normal">
				If ever a musical style defined a decade, Disco was the definition of the 1970s. Although its popularity was relatively short-lived, the genre hosted a great deal of songs and artists that people are still dancing to today and had a large influence on the fashions of the decade, too. Van McCoy's "The Hustle" has often been referred to as the definitive disco track and many people say it was the first disco song created.
			</p>
		</div>
		<div class="product-device shadow-sm d-none d-md-block"></div>
		<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
	</div>

	<!-- Row 1 -->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-purple mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
			<div class="my-3 py-3">
				<img class="card-img-top img-head" src="../images/70s/img_beegees.jpg" alt="The Bee Gees">
				<h2 class="display-5">The Bee Gees</h2>
				<p class="lead">
					The Bee Gees, English-Australian pop-rock band that embodied the disco era of the late 1970s. In becoming one of the best-selling recording acts of all time, the Bee Gees (short for the Brothers Gibb) adapted to changing musical styles while maintaining the high harmonies, elaborate melodies, and ornate orchestrations that were their trademark. The principal members were Barry Gibb, Robin Gibb, and Maurice Gibb.
				</p>
			</div>
			<div class="text-left ">
				<h5 class="display-5">Popular Songs</h5>
				<ul style="list-style: none;">
					<li><a href="https://www.youtube.com/watch?v=I_izvAbhExY">Stayin’ Alive</a></li>
					<li><a href="https://www.youtube.com/watch?v=XpqqjU7u5Yc">How Deep Is Your Love </a></li>
				</ul>
			</div>
		</div>
		<div class="w-100 bg-op-blue mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
			<div class="my-3 py-3">
				<img class="card-img-top img-head" src="../images/70s/img_abba.jpg" alt="ABBA">
				<h2 class="display-5">ABBA</h2>
				<p class="lead">
					Swedish Europop group that was among the most commercially successful groups in the history of popular music. In the 1970s it dominated the European charts with its catchy pop songs. Members included songwriter and keyboard player Benny Andersson, songwriter and guitarist Björn Ulvaeus, and vocalists Agnetha Fältskog. and Anni-Frid Lyngstad.
				</p>
			</div>
			<div class="text-left ">
				<h5 class="display-5">Popular Songs</h5>
				<ul style="list-style: none;">
					<li><a href="https://www.youtube.com/watch?v=xFrGuyw1V8s">Dancing Queen</a></li>
					<li><a href="https://www.youtube.com/watch?v=unfzfe8f9NI">Mamma Mia</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="position-relative overflow-hidden m-md-3 bg-op-blue text-center">
		<div class="p-lg-5 ">
			<h1 class="display-4 font-weight-normal ">Progressive Rock</h1>
			<p class="lead font-weight-normal">
				Progressive rock was another popular genre during the 1970s. This type of music was typically characterized by rock music combined with another genre, such as classical or opera, to create a hybrid genre. Songs from this genre were often longer and bands tended to be more spontaneous and experimental while they were playing live. Many progressive rock albums were also concept albums, meaning that they followed a theme throughout the entire album or series of albums.
			</p>
		</div>
		<div class="product-device shadow-sm d-none d-md-block"></div>
		<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
	</div>


	<!-- Row 2 -->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-blue mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
			<div class="my-3 py-3">
				<img class="card-img-top img-head" src="../images/70s/img_pinkfloyd.jpg" alt="Pink Floyd">
				<h2 class="display-5">Pink Floyd</h2>
				<p class="lead">
					Pink Floyd was an English rock band formed in London in 1965. Gaining a following as a psychedelic rock band, they were distinguished for their extended compositions, sonic experimentation, philosophical lyrics and elaborate live shows, and became a leading band of the progressive rock genre. They are one of the most commercially successful and influential groups in popular music history. The principal members were lead guitarist Syd Barrett, bassist Roger Waters, drummer Nick Mason, keyboard player Rick Wright, and guitarist David Gilmour.
				</p>
			</div>
			<div class="text-left ">
				<h5 class="display-5">Popular Songs</h2>
				<ul style="list-style: none;">
					<li><a href="https://www.youtube.com/watch?v=YR5ApYxkU-U">Another Brick On The Wall</a></li>
					<li><a href="https://www.youtube.com/watch?v=_FrOQC-zEog">Comfortably Numb</a></li>
				</ul>
			</div>
		</div>
		<div class="w-100 bg-op-purple mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
			<div class="my-3 py-3">
				<img class="card-img-top img-head" src="../images/70s/img_Queen.jpg" alt="Queen">
				<h2 class="display-5">Queen</h2>
				<p class="lead">
					British rock band whose fusion of heavy metal, glam rock, and camp theatrics made it one of the most popular groups of the 1970s. Although generally dismissed by critics, Queen crafted an elaborate blend of layered guitar work by virtuoso Brian May and overdubbed vocal harmonies enlivened by the flamboyant performance of front man and principal songwriter Freddie Mercury. The members were Freddie Mercury, Brian Ma, John Deacon, and Roger Taylor.  
				</p>
			</div>
			<div class="text-left">
				<h5 class="display-5">Popular Songs</h2>
				<ul style="list-style: none;">
					<li><a href="https://www.youtube.com/watch?v=fJ9rUzIMcZQ">Bohemian Rhapsody</a></li>
					<li><a href="https://www.youtube.com/watch?v=HgzGwKwLmgM&list=PL2tMgWgIvcWnpy6by9T0ZKyxLcZ2W4Pcs&index=12">Don’t Stop Me Now</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Row 3 Solo-->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-purple mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
			<div class="my-3 py-3">
				<img class="card-img-top img-head" src="../images/70s/img_ledzeppelin.jpg" alt="Led Zeppelin">
				<h2 class="display-5">Led Zeppelin</h2>
				<p class="lead">
					British rock band that was extremely popular in the 1970s. Although their musical style was diverse, they came to be well known for their influence on the development of heavy metal and progressive rock. The members were Jimmy Page, Robert Plant, John Paul Jones, and John Bonham.
				</p>
			</div>
			<div class="text-left ">
				<h5 class="display-5">Popular Songs</h2>
				<ul style="list-style: none;">
					<li><a href="https://www.youtube.com/watch?v=RlNhD0oS5pk">Immigrant Song (Live in 1972)</a></li>
					<li><a href="https://www.youtube.com/watch?v=QkF3oxziUI4">Stairway To Heaven</a></li>
				</ul>
			</div>
		</div>
		<div class="w-100 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
			<div class="my-3 py-3">
			
			</div>
			<div class="text-left ">
				
			</div>
		</div>
	</div>

	<div class="position-relative overflow-hidden m-md-3 bg-op-purple  text-center">
		<div class="p-lg-5 ">
			<h1 class="display-4 font-weight-normal ">PUNK ROCK AND NEW WAVE</h1>
			<p class="lead font-weight-normal">
				The punk rock genre also emerged in the 1970s. This was a style that continued on the legacy of the 1960s but with a more upbeat and harder style. Heavy guitar riffs and more decibels helped to motivate those who were still upset about the status quo in the country. On the other hand, New Wave, similar to punk music but more radio friendly and with an electronic flair, also emerged in the late seventies and went on to become a predominant genre in the next decade.
			</p>
		</div>
		<div class="product-device shadow-sm d-none d-md-block"></div>
		<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
	</div>

	<!-- Row 4 -->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-purple mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
			<div class="my-3 py-3">
				<img class="card-img-top img-head" src="../images/70s/img_david_bowie.jpg" alt="David Bowie">
				<h2 class="display-5">David Bowie</h2>
				<p class="lead">
					David Bowie, British singer, songwriter, and actor who was most prominent in the 1970s and best known for his shifting personae and musical genre hopping.
				</p>
			</div>
			<div class="text-left ">
				<h5 class="display-5">Popular Songs</h2>
				<ul style="list-style: none;">
					<li><a href="https://www.youtube.com/watch?v=iYYRH4apXDo">Space Oddity</a></li>
					<li><a href="https://www.youtube.com/watch?v=Vy-rvsHsi1o">Rebel Rebel</a></li>
				</ul>
			</div>
		</div>
		<div class="w-100 bg-op-blue mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
			<div class="my-3 py-3">
				<img class="card-img-top img-head" src="../images/70s/img_ramones.jpg" alt="The Ramones">
				<h2 class="display-5">The Ramones</h2>
				<p class="lead">
					American band that influenced the rise of punk rock on both sides of the Atlantic Ocean. The original members were Joey Ramone, Johnny Ramone, Dee Dee Ramone, and Tommy Ramone.
				</p>
			</div>
			<div class="text-left ">
				<h5 class="display-5">Popular Songs</h2>
				<ul style="list-style: none;">
					<li><a href="https://www.youtube.com/watch?v=bm51ihfi1p4">I Wanna Be Sedated</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="position-relative overflow-hidden m-md-3 bg-op-blue  text-center">
		<div class="p-lg-5 ">
			<h1 class="display-4 font-weight-normal ">Funk Soul and Music</h1>
			<p class="lead font-weight-normal">
					Funk music came out of the R&B, Jazz and Soul music of the late 1960s after artists added more beats and psychedelic tones to their songs. This genre saw the height of its popularity encompass the 1970s with artists like James Brown, Parliament-Funkadelic, Sly and the Family Stone and Kool and the Gang dominating the music charts. Funk was known for its danceable beats, strange costumes, outrageous personalities and often socially conscious lyrics.
			</p>
		</div>
		<div class="product-device shadow-sm d-none d-md-block"></div>
		<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
	</div>

	<!-- Row 5 -->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-blue mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
			<div class="my-3 py-3">
				<img class="card-img-top img-head" src="../images/70s/img_earth_wind_fire.jpg" alt="Earht, Wind, and Fire">
				<h2 class="display-5">Earth, Wind, and Fire</h2>
				<p class="lead">
					Earth, Wind & Fire, American pop, soul, and jazz-fusion band that became one of the best-selling and most influential groups of the 1970s. The principal members were Maurice White, Philip Bailey, Verdine White, Fred White, Al McKay, Johnny Graham, Ralph Johnson, Larry Dunn, and Andrew Woolfolk.					
				</p>
			</div>
			<div class="text-left ">
				<h5 class="display-5">Popular Songs</h2>
				<ul style="list-style: none;">
					<li><a href="https://www.youtube.com/watch?v=Gs069dndIYk">September</a></li>
					<li><a href="https://www.youtube.com/watch?v=Lrle0x_DHBM">Let’s Groove</a></li>
				</ul>
			</div>
		</div>
		<div class="w-100 bg-op-purple mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
			<div class="my-3 py-3">
				<img class="card-img-top img-head" src="../images/70s/img_james_brown.jpg" alt="James Brown">
				<h2 class="display-5">James Brown</h2>
				<p class="lead">
					Known as the “Godfather of Soul Music.” James Brown, American singer, songwriter, arranger, and dancer, who was one of the most important and influential entertainers in 20th-century popular music and whose remarkable achievements earned him the sobriquet “the Hardest-Working Man in Show Business.”
				</p>
			</div>
			<div class="text-left ">
				<h5 class="display-5">Popular Songs</h2>
				<ul style="list-style: none;">
					<li><a href="https://www.youtube.com/watch?v=U5TqIdff_DQ">I Feel Good</a></li>
					<li><a href="https://www.youtube.com/watch?v=H77fRz1rybs">It’s a Man’s Man’s Man’s World</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="position-relative overflow-hidden m-md-3 bg-op-purple  text-center">
		<div class="p-lg-5 ">
			<h1 class="display-4 font-weight-normal ">Other Famous Artists in the 70's</h1>
			<p class="lead font-weight-normal">
			</p>
		</div>
		<div class="product-device shadow-sm d-none d-md-block"></div>
		<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
	</div>

	<!-- Row 6 -->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-blue mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
			<div class="my-3 py-3">
				<img class="card-img-top img-head" src="../images/70s/img_elton_john.jpg" alt="Elton John">
				<h2 class="display-5">Elton John</h2>
				<p class="lead">
					Elton John, British singer, composer, and pianist who was one of the most popular entertainers of the late 20th century. He fused as many strands of popular music and stylistic showmanship as Elvis Presley in a concert and recording career that included the sale of hundreds of millions of records.
				</p>
			</div>
			<div class="text-left ">
				<h5 class="display-5">Popular Songs</h2>
				<ul style="list-style: none;">
					<li><a href="https://www.youtube.com/watch?v=DtVBCG6ThDk">Rocket Man</a></li>
					<li><a href="https://www.youtube.com/watch?v=ZHwVBirqD2s">I’m Still Standing</a></li>
				</ul>
			</div>
		</div>
		<div class="w-100 bg-op-purple mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
			<div class="my-3 py-3">
				<img class="card-img-top img-head" src="../images/70s/img_john_lennon.jpg" alt="John Lennon">
				<h2 class="display-5">John Lennon</h2>
				<p class="lead">
					John Lennon, in full John Winston Ono Lennon, (born October 9, 1940, Liverpool, England—died December 8, 1980, New York, New York, U.S.), leader or coleader of the British rock group the Beatles, author and graphic artist, solo recording artist, and collaborator with Yoko Ono on recordings and other art projects.
				</p>
			</div>
			<div class="text-left ">
				<h5 class="display-5">Popular Songs</h2>
				<ul style="list-style: none;">
					<li><a href="https://www.youtube.com/watch?v=YkgkThdzX-8">Imagine</a></li>
					<li><a href="https://www.youtube.com/watch?v=yN4Uu0OlmTg">Happy Xmas (War Is Over)</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Row 7 Solo-->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-purple mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
			<div class="my-3 py-3">
				<img class="card-img-top img-head" src="../images/70s/img_billy_joel.jpg" alt="Billy Joel">
				<h2 class="display-5">Billy Joel</h2>
				<p class="lead">
					Billy Joel, in full William Martin Joel, (born May 9, 1949, Bronx, New York, U.S.), American singer, pianist, and songwriter in the pop ballad tradition whose numerous hit songs in the 1970s and ’80s made him an enduring favourite on the concert circuit.
				</p>
			</div>
			<div class="text-left ">
				<h5 class="display-5">Popular Songs</h2>
				<ul style="list-style: none;">
					<li><a href="https://www.youtube.com/watch?v=gxEPV4kolz0">Piano Man</a></li>
					<li><a href="https://www.youtube.com/watch?v=eFTLKWw542g">We Didn’t Start The Fire</a></li>
				</ul>
			</div>
		</div>
		<div class="w-100 mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center  overflow-hidden">
			<div class="my-3 py-3">
			
			</div>
			<div class="text-left ">
				
			</div>
		</div>
	</div>

	<div class="footer">
		<footer id="lyFooter">
			<p class="text-center">All Rights Reserved <container id="cYr"></container>.</p>
		</footer>
	</div>
</body>
</html>