<!doctype html>

<html>
<head>
	<title>ConWorl - Break It Down in 90's with Rap and Hip-Hop</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- javascript -->
	<script src="../js/jquery-3.4.1.min.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/bootstrap.bundle.js"></script>
	<script src="../js/custom.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/bootstrap-grid.css">
	<link rel="stylesheet" href="../css/bootstrap-reboot.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.css">
	<link rel="stylesheet" href="../css/Custom/main.css">

	<script>
		$(document).ready(function () {
			if (document.location.href.indexOf("layout") < 0) {
				$("#tgtHeader").load("../layout/layout.html #lyNavbar", function () {

				});
				$("#tgtFooter").load("../layout/layout.html #lyFooter", function () {

				});
			}

			$('#aHome').addClass("active");

			$('#crslHeading').carousel({
				interval: 3000
			});

			$('.carousel-item').hover(function () {
				$(this).carousel('pause');
			});

			setFooterDate('#cYr')

			$('.card').hover(function () {
				var id = $(this).attr('id');
				toggleInfo(id);
			});
		});
	</script>


</head>

<container id="tgtHeader">
	<!-- NavBar -->
</container>

<body id="bg-90">
	<div class="position-relative overflow-hidden m-md-3 bg-op-dark">
		<div class="p-lg-5 ">
			<h1 class="display-4 font-weight-normal">The 90's Hip Hop</h1>
			<p class="lead font-weight-normal">
				The musical era of the 1990s was one filled with a variety of pop, rap, and alternative music artists as well as a plethora of one-hit wonders. It was a time when musical taste was as varied as the events that were happening at the time. Many of the most popular acts that emerged in the 1990's were bands and artists who enjoyed a type of resurgence in the mainstream music scene after their popularity had dwindled for a decade or so. Other artists were just starting out during this decade and make a huge impact on the musical scene. Following is an explanation of some of the most memorable artists that helped to define the era in terms of musical differentiations as well as some artists who are best forgotten.
			</p>
			<div class="product-device shadow-sm d-none d-md-block"></div>
			<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
		</div>
	</div>
	

	
	<div class="position-relative overflow-hidden m-md-3 bg-op-dark text-right">
		<div class="p-lg-5 ">
			<h1 class="display-4 font-weight-normal ">Hip to the Hop</h1>
			<p class="lead font-weight-normal">
				<strong>Golden age of hip-hop.</strong> It was the name given to mainstream hip hop music created in the mid/late 1980s and early 1990s, particularly by artists and musicians originating from the New York metropolitan area. It is characterized by its diversity, quality, innovation and influence on hip hop after the genre's emergence and establishment in the previous decade. 
				<br>
				Production became more innovative as technology moved on. There was a greater diversity as various ensembles sought originality. Hip-Hop had a greater influence on culture. Samples became more obscure which lead to massive amount of obscurities becoming unearthed. Hip-Hop lyrics became more instrumental in voicing the social protests of the day - gun crime and violence, drugs, religion, politics and everything in-between.
					
			</p>
		</div>
		<div class="product-device shadow-sm d-none d-md-block"></div>
		<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
	</div>

	<!-- Row 1 -->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
			<div class="row">
				<div class="col-4">	
					<img class="card-img-top img-head" src="../images/90s/img_snoopdogg.jpg" alt="Snoop Dogg">
					<h2 class="display-5">Snoop Dogg</h2>
				</div>
				<div class="col-8 text-left w-100 mt-3">	
					<p class="lead">
						Born: Calvin Cordozar Broadus Jr., a.k.a. Snoop Dogg (October 20, 1971 – Present) <br>
						Snoop is widely adored today, but he was truly adored in the 90s. Snoop started his run with 1993's Doggystyle, an essential hip-hop album masterminded by Dr. Dre and executed to perfection by Snoop Dogg. <br>
						Following the death of 2Pac, Snoop wanted no parts of Suge Knight's Death Row drama. He defected to Master P's No Limit Records. Few will bat a lash if a west coast MC signed to a southern rap label today, but this was a risky move in the 90s. Although none of his No Limit Records albums matched the quality and popularity of Doggystyle, Snoop was still the Doggfather to anyone who enjoyed hip-hop music in the 1990s.
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Row 2 -->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
			<div class="row">
				<div class="col-8 text-right w-100 mt-3">	
						<p class="lead">
							Born: Lonnie Corant Jaman Shuka Rashid Lynn, a.k.a. Common (March 13, 1972 – Present) <br>
							Common is one of the most important rappers making music today. His run dates back to the 90s when he was still a young 22-year-old who rapped under the alias Common Sense. Common positioned himself as a street poet, rapping about hood despair on early tracks. Later, in 1996, he battled the fierce and feared Ice Cube and emerged unscathed. <br>
							A master storyteller, Common took on risky subjects like love and relationships in the face of hip-hop masculinity. Common's 90s body of work, from the stellar Resurrection to the string of hits, helped make his case as one of the greatest rappers of all time, never mind the 90s.
						</p>
					</div>
				<div class="col-4">	
					<img class="card-img-top img-head" src="../images/90s/img_common.jpg" alt="Common">
					<h2 class="display-5">Common</h2>
				</div>
			</div>
		</div>
	</div>

	<!-- Row 3 -->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-blue mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
			<div class="row">
				<div class="col-4">	
					<img class="card-img-top img-head" src="../images/90s/img_BustaRhymes.jpg" alt="Busta Rhymes">
					<h2 class="display-5">Busta Rhymes</h2>
				</div>
				<div class="col-8 text-left w-100 mt-3">	
					<p class="lead">
						Born: Trevor George Smith Jr., a.k.a. Busta Rhymes (May 20, 1972 – Present) <br>
						Busta Bus recorded a lot of great music in the 90s: his hit singles, "Woo Hah!! Got You All in Check" and "Dangerous" among them; his career-defining album, When Disaster Strikes; and his Grammy-nominated, platinum-selling follow-up E.L.E. (Extinction Level Event): The Final World Front. Busta also established a reputation for creative music videos via cult classics like "Put Your Hands Where My Eyes Could See" and "Dangerous." Despite his enviable resume, Busta Rhymes has never won a Grammy.
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Row 4 -->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-blue mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
			<div class="row">
				<div class="col-8 text-right w-100 mt-3 mt-3">	
					<p class="lead">
						Born: Lauryn Noelle Hill, a.k.a. Lauryn Hill (May 26, 1975 – Present) <br>
						1998, Hill went solo with her own Miseducation of Lauryn Hill. She delivered the best fusion of hip-hop and R&B hip-hop has witnessed in a long time. Her songwriting flourished from tune to tune, whether grappling with spirituality ("Final Hour," "Forgive Them, Father") or stroking sexuality without exploiting it ("Nothing Even Matters"). The Miseducation won five Grammy awards (out of a historic 10) and earned an induction to the National Recording Registry.
					</p>
				</div>
				<div class="col-4">	
					<img class="card-img-top img-head" src="../images/90s/img_LaurynHill.jpg" alt="Lauryn Hill">
					<h2 class="display-5">Lauryn Hill</h2>
				</div>
			</div>
		</div>
	</div>

	<!-- Row 5 -->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
			<div class="row">
				<div class="col-4">	
					<img class="card-img-top img-head" src="../images/90s/img_JayZ.jpg" alt="Jay Z">
					<h2 class="display-5">Jay Zs</h2>
				</div>
				<div class="col-8 text-left w-100 mt-3">	
					<p class="lead">
						Born: Shawn Corey Carter, a.k.a. Jay Z (December 4, 1969 – Present) <br>
						American rapper and entrepreneur, Shawn Corey Carter, better known by his stage name Jay-Z, is one of the biggest names in ‘Rap’ and in the genre of hip-hop. He is not only one of the most successful rappers but also a successful entrepreneur, who owns an entertainment company named ‘Roc Nation’. His albums have approximately sold over 50 million copies globally and he has received a number of awards. Many of his albums have time and again charted popular countdowns including the famous ‘Billboard 200’. His large catalog of music speaks volumes about his hard-work and ruthless, aspiring quality.
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Row 6 -->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
			<div class="row">
				<div class="col-8 text-right w-100 mt-3 mt-3">	
					<p class="lead">
						Born: O'Shea Jackson, a.k.a. Ice Cube (June 15, 1969 – Present) <br>
						Ice Cube walked away from N.W.A., a revolutionary hip-hop group, only to kick off one of the most remarkable solo careers of the 90s. Cube was N.W.A.'s most competent MC and it was evident on his solo debut, 1990's Amerikkka's Most Wanted. With The Bomb Squad supplying the burly beats, Cube attacked every song with what he dubbed "street knowledge."
					</p>
				</div>
				<div class="col-4">	
					<img class="card-img-top img-head" src="../images/90s/img_IceCube.jpg" alt="Ice Cube">
					<h2 class="display-5">Ice Cube</h2>
				</div>
			</div>
		</div>
	</div>

	<!-- Row 7 -->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-purple mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
			<div class="row">
				<div class="col-4">	
					<img class="card-img-top img-head" src="../images/90s/img_ScarFace.jpg" alt="Busta Rhymes">
					<h2 class="display-5">Scarface</h2>
				</div>
				<div class="col-8 text-left w-100 mt-3">	
					<p class="lead">
						Born: Brad Terrence Jordan, a.k.a. Scarface (November 9, 1970 – Present) <br>
						Scarface quickly became the South's most admired rapper and remained so throughout the '90s after breaking away from the Geto Boys to launch his solo career in 1991. <br>
						With a voice that's deep and brawny, he tackled the quest for survival in a dog-eat-dog world alongside topics that were never meant for mass consumption: murder, suicidal thoughts, and nihilistic leanings, among them. Still, Face went on to shift units, chart on the Billboard Hot 100, and influence a generation of MCs.
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Row 8 -->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-purple mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
			<div class="row">
				<div class="col-8 text-right w-100 mt-3 mt-3">	
					<p class="lead">
						Born: Nasir bin Olu Dara Jones, a.k.a. Nas (September 14, 1973 – Present) <br>
						His musical career began in 1991, as a featured artist on Main Source's "Live at the Barbeque". His debut album Illmatic (1994) received universal acclaim from both critics and the hip-hop community and is frequently ranked as one of the greatest hip-hop albums of all time.
					</p>
				</div>
				<div class="col-4">	
					<img class="card-img-top img-head" src="../images/90s/img_Nas.png" alt="Nas">
					<h2 class="display-5">Nas</h2>
				</div>
			</div>
		</div>
	</div>

	<!-- Row 9 -->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-blue mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
			<div class="row">
				<div class="col-4">	
					<img class="card-img-top img-head" src="../images/90s/img_NotoriousBIG.jpg" alt="Notorious B.I.G.">
					<h2 class="display-5">Notorious B.I.G.</h2>
				</div>
				<div class="col-8 text-left w-100 mt-3">	
					<p class="lead">
						Born: Christopher George Latore Wallace, a.k.a. Notorious B.I.G. (May 21, 1972 – March 9, 1997) <br>
						His debut album Ready to Die, (1994) made him a central figure in East Coast hip hop and increased New York City's visibility in the genre at a time when West Coast hip hop dominated the mainstream. Wallace was noted for his "loose, easy flow"; dark, semi-autobiographical lyrics; and storytelling abilities, which focused on crime and hardship.
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Row 10 -->
	<div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
		<div class="w-100 bg-op-blue mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
			<div class="row">
				<div class="col-8 text-right w-100 mt-3 mt-3">	
					<p class="lead">
						Born: Tupac Amaru Shakur, a.k.a. 2Pac and Makaveli (June 16, 1971 – September 13, 1996) <br>
						He is considered by many to be one of the greatest rappers of all time. Much of Shakur's work has been noted for addressing contemporary social issues that plagued inner cities, and he is considered a symbol of resistance and activism against inequality. As the most influential rapper in history, he's also a remarkable storyteller. 2Pac dominated the 90s with his conflicted versions of everyday hood tales: gang wars, preggo teens, drug addiction and everything else that mattered to him.  <br>
						Shakur not only influenced music, he also shaped hip-hop fashion. In the 90s, it was common to see 'Pac fans adorned with bandanas, an emblem of his "thug life" persona.
					</p>
				</div>
				<div class="col-4">	
					<img class="card-img-top img-head" src="../images/90s/img_2Pac.jpg" alt="2PAC">
					<h2 class="display-5">2PAC</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<footer id="lyFooter">
			<p class="text-center">All Rights Reserved <container id="cYr"></container>.</p>
		</footer>
	</div>
</body>
</html>