<!doctype html>

<html>
<head>
	<title>ConWorl - The Beatles and The 1960's </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- javascript -->
	<script src="../js/jquery-3.4.1.min.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/bootstrap.bundle.js"></script>
	<script src="../js/custom.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/bootstrap-grid.css">
	<link rel="stylesheet" href="../css/bootstrap-reboot.css">
	<link rel="stylesheet" href="../css/bootstrap-theme.css">
	<link rel="stylesheet" href="../css/Custom/main.css">

	<script>
		$(document).ready(function () {
			if (document.location.href.indexOf("layout") < 0) {
				$("#tgtHeader").load("../layout/layout.html #lyNavbar", function () {

				});
				$("#tgtFooter").load("../layout/layout.html #lyFooter", function () {

				});
			}

			$('#amembers').addClass("active");

			$('#crslHeading').carousel({
				interval: 3000
			});

			$('.carousel-item').hover(function () {
				$(this).carousel('pause');
			});

			setFooterDate('#cYr')

			$('.card').hover(function () {
				var id = $(this).attr('id');
				toggleInfo(id);
			});
		});
	</script>


</head>

<container id="tgtHeader">
	<!-- NavBar -->
</container>

<body>
	<div class="py-5 bg-light">
		<div class="container">
			<div class="row">
				<div class="col-4">
					<div class="card mb-4 shadow-sm">
						<img class="card-img-top" src="../images/Members/Elliah.jpg">	
						<div class="card-body">
							<p class="card-text text-center">Elliah Aquiler</p>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card mb-4 shadow-sm">
						<img class="card-img-top" src="../images/Members/Charles.jpg">	
						<div class="card-body">
							<p class="card-text text-center">Charles Gain</p>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card mb-4 shadow-sm">
						<img class="card-img-top" src="../images/Members/Francis.jpg">	
						<div class="card-body">
							<p class="card-text text-center">Francis Olores</p>
						</div>
					</div>
				</div>
			</div>
			<!-- Row 2 -->
			<div class="row">
				<div class="col-2"></div>
				<div class="col-4">
					<div class="card mb-4 shadow-sm">
						<img class="card-img-top" src="../images/Members/Trisha.jpg">	
						<div class="card-body">
							<p class="card-text text-center">Trisha Nicole Tolentino</p>
						</div>
					</div>
				</div>
				<div class="col-4">
					<div class="card mb-4 shadow-sm">
						<img class="card-img-top" src="../images/Members/Raymond.jpg">	
						<div class="card-body">
							<p class="card-text text-center">Raymond Anthony Villaflores II</p>
						</div>
					</div>
				</div>
				<div class="col-2"></div>
			</div>
		</div>
	</div>
</body>
</html>